{{#each this}}

<div class="smallCard">
    <img class="smallCard-small" src='{{images.[1].url}}' width=200 height=500/>
    <div class="smallCard_info">
        <ul class="smallCard_info_list">
            <li class="smallCard_heroes">
                <p class="smallCard_text">{{name}}</p>
            </li>
            <li class="smallCard_date">
                <p class="smallCard_text">{{dates.start.localDate}}</p>
            </li>
            <li class="smallCard_place">
                <a href="{{seatmap.staticUrl}}" class="smallCard_text">{{_embedded.venues.[0].name}}</a> 
            </li>
        </ul> 
    </div>
</div>

{{/each}}
{{!-- // <a href="https://www.google.com/maps/@{{_embedded.venues.[0].location.latitude}}{{_embedded.venues.[0].location.longitude}}" class="smallCard_text"></a>  --}}



